{
    "_comment": "Either create a new file called '.env.json' or rename this one with fields filled. ALSO ensure they are in double quotations like this",
    "VAULT": "enter vault directory. ENTER ABSOLUTE PATH",
    "CHAT_MODEL": "enter chat model. eg: mistral:7b",
    "EMBED_MODEL": "enter model used for embeddings. eg: nomic-embed-text"
}
