{
    "_comment": "Either create a new file called '.env.json' or rename this one with fields filled"
    "VAULT": "enter vault directory. ENTER ABSOLUTE PATH",
    "CHAT_MODEL": "enter chat model. eg: mistral:7b"
}
